[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
faker = "*"
ipython = "*"
django-extensions = "*"
flake8 = "*"
flake8-builtins = "*"
flake8-import-order = "*"
pep8-naming = "*"
darker = "*"
webargs = "*"
black = "*"
django-crispy-forms = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-debug-toolbar = "*"
django_inlinecss = "*"
Pillow = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.9"

[dev-packages]

[pipenv]
allow_prereleases = true
